.none {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

/* background */
body,
html {
  display: flex;
  justify-content: flex-end;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
}

#bgImage {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -10;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* home btn */

/* mobile */
.mobile {
  background-color: whitesmoke;
  margin: 40px 0px;
  margin-right: 180px;
  width: 322px;
  height: 622px;
  border-radius: 32px;
  border: 1.5px solid lightgray;
  box-shadow: 1px 1px 3px 1px #dadce0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}

.home__camera {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: rgb(53, 53, 53);
  border-radius: 50%;
  top: 40px;
  left: 100px;
}

.home__speaker {
  position: absolute;
  width: 60px;
  height: 2.5px;
  background-color: rgb(53, 53, 53);
  top: 43px;
  left: 130px;
}

.home__btn {
  position: absolute;
  bottom: 20px;
  width: 34px;
  height: 34px;
  background-color: whitesmoke;
  border-radius: 50%;
  box-shadow: 1px 1px 4px -1px #707070 inset;
}

.mobile__container {
  background: linear-gradient(#52bbd5, #5b3e87);
  width: 294px;
  height: 482px;
  position: relative;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 4px 4px;
}

.navbar__column {
  display: flex;
}

.clock__container {
  margin-right: 6px;
}

/* gretting */
#greeting {
  font-size: 14px;
  font-weight: 500;
  color: black;
  padding: 12px 14px;
  margin: 24px 12px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px rgba(0, 0, 0, 0.025);
  transition: all 0.2s;
}

#greeting:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

/* login-form */
#login-form {
  background: white;
  padding: 12px;
  border-radius: 8px;
  margin: 20px 12px;
  font-size: 14px;
  position: relative;
  transition: all 0.3s;
}

#login-form:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

#login-form input:last-child {
  position: absolute;
  right: 8px;
}

#login-form input {
  border: none;
  background-color: transparent;
  color: black;
}

#login-form input:nth-child(2) {
  cursor: pointer;
}

#login-form input::placeholder {
  color: black;
}

#login-form input:focus {
  outline: none;
}

#login-form input:focus::placeholder {
  color: lightgray;
}

/* dictionary */
#dictionary {
  padding: 12px 14px;
  margin: 12px;
  background: linear-gradient(#ec707f, #f3525a);
  border-radius: 0px 0px 8px 8px;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  color: black;
  transition: all 0.3s;
}

#dictionary:hover {
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  );
}

#dictionary span:last-child {
  font-size: 12px;
}

.expression {
  padding: 6px 14px;
  margin: -12px 12px;
  background-color: #ec707f;
  border-radius: 8px 8px 0px 0px;
  border-bottom: 1px solid lightgray;
  font-size: 12px;
  font-weight: 400;
  color: black;
}

/* todo-form */
#todo-form {
  position: relative;
}

#todo-form input {
  width: 258px;
  border: none;
  padding: 6px;
  margin: 0px 12px;
  border-radius: 8px 8px 0px 0px;
  border-bottom: 1px solid lightgray;
  background-color: #fdce0b;
  transition: all 0.3s;
}

#todo-form input:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

#todo-form input::placeholder {
  color: black;
  font-size: 12px;
  font-weight: 300;
  padding: 6px;
}

#todo-form input:focus {
  background-color: rgba(255, 255, 255, 0.7);
  outline: none;
}

#todo-form input:focus::placeholder {
  color: lightgray;
}

#todo-form i {
  position: absolute;
  right: 20px;
  bottom: 6px;
  color: red;
}

#todo-form input:focus + i {
  color: white;
}

/* todo-list */
.todo__container {
  padding: 12px;
  margin: 0px 12px;
  background-color: white;
  border-radius: 0px 0px 8px 8px;
}

#todo-list li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 12px;
  font-weight: 300;
  color: black;
  border-bottom: 1px solid lightgray;
  background-color: white;
  transition: all 0.2s;
}

#todo-list li:hover {
  background-color: #fdce0b;
}

#todo-list button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 300;
  font-size: 8px;
  color: black;
}

#todo-list button:hover {
  color: red;
}

/* dockbar */
.dockbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  padding: 16px;
  margin: 12px;
  border-radius: 8px;
  position: absolute;
  bottom: 4px;
  width: 236px;
}

.dock:first-child {
  width: 48px;
  height: 48px;
  background: linear-gradient(#65f856, #27de17);
  align-items: center;
  text-align: center;
  border-radius: 12px;
  color: white;
  font-size: 32px;
  line-height: 48px;
  transition: all 0.3s;
}

.dock:first-child:hover {
  background: linear-gradient(#f1f1f1, #c2c2c2);
}

.dock:nth-child(2) {
  width: 48px;
  height: 48px;
  background: linear-gradient(#65f856, #27de17);
  align-items: center;
  text-align: center;
  border-radius: 12px;
  color: white;
  font-size: 36px;
  line-height: 48px;
  transition: all 0.3s;
}

.dock:nth-child(2):hover {
  background: linear-gradient(#f1f1f1, #c2c2c2);
}

.dock:nth-child(3) {
  width: 48px;
  height: 48px;
  background: white;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  font-size: 36px;
  line-height: 48px;
}

.dock:nth-child(3) i {
  background: linear-gradient(#65e4f1, #205ef3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s;
}

.dock:nth-child(3):hover {
  background: linear-gradient(#f1f1f1, #c2c2c2);
}

.dock:nth-child(4) {
  width: 48px;
  height: 48px;
  background: linear-gradient(#eaeaec, #8b8e93);
  align-items: center;
  text-align: center;
  border-radius: 12px;
  color: black;
  font-size: 36px;
  line-height: 48px;
  transition: all 0.3s;
}

.dock:nth-child(4):hover {
  background: linear-gradient(#f1f1f1, #c2c2c2);
}

/* media */

@media screen and (max-width: 768px) {
  #bgImage {
    display: none;
  }

  .mobile__container {
    margin: 0px;
    padding: 0px;
  }
}
