.none {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

/* background */
body,
html {
  display: flex;
  justify-content: flex-end;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
}

#bgImage {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -10;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* mobile */
.mobile {
  background-color: whitesmoke;
  margin: 40px 0px;
  margin-right: 180px;
  width: 322px;
  height: 622px;
  border-radius: 32px;
  border: 1.5px solid lightgray;
  box-shadow: 1px 1px 3px 1px #dadce0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.mobile__container {
  background-image: url("/img/wallpaper.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 294px;
  height: 482px;
  position: relative;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 4px 4px;
}

.navbar__column {
  display: flex;
}

.clock__container {
  margin-right: 6px;
}

/* login-form */
#login-form {
  background: white;
  padding: 12px;
  border-radius: 8px;
  margin: 20px 12px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

#login-form input {
  border: none;
  background-color: transparent;
  color: black;
}

#login-form input:nth-child(2) {
  cursor: pointer;
}

#login-form input::placeholder {
  color: black;
}

#login-form input:focus {
  outline: none;
}

#login-form input:focus::placeholder {
  color: lightgray;
}

#greeting {
  padding: 24px;
}

/* dictionary */
#dictionary {
  padding: 12px 14px;
  margin: 12px;
  background: linear-gradient(#e75e6d, #e44048);
  border-radius: 0px 0px 8px 8px;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  color: black;
}

#dictionary span:last-child {
  font-size: 12px;
}

.expression {
  padding: 6px 14px;
  margin: -12px 12px;
  background: linear-gradient(#f37c8a, #e75e6d);
  border-radius: 8px 8px 0px 0px;
  border-bottom: 1px solid lightgray;
  font-size: 12px;
  font-weight: 400;
  color: black;
}

/* todo-form */
#todo-form {
  position: relative;
}

#todo-form input {
  width: 258px;
  border: none;
  padding: 6px;
  margin: 0px 12px;
  border-radius: 8px 8px 0px 0px;
  border-bottom: 1px solid lightgray;
  background-color: #fdce0b;
}

#todo-form input::placeholder {
  color: black;
  font-size: 12px;
  font-weight: 300;
  padding: 6px;
}

#todo-form input:focus {
  background-color: rgba(255, 255, 255, 0.7);
  outline: none;
}

#todo-form input:focus::placeholder {
  color: lightgray;
}

#todo-form i {
  position: absolute;
  right: 20px;
  bottom: 6px;
  color: red;
}

/* todo-list */
.todo__container {
  padding: 12px;
  margin: 0px 12px;
  background-color: white;
  border-radius: 0px 0px 8px 8px;
}

#todo-list li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 12px;
  font-weight: 300;
  color: black;
  border-bottom: 1px solid lightgray;
}

#todo-list button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 300;
  font-size: 8px;
  color: black;
}

#todo-list button:hover {
  color: red;
}

/* dockbar */
.dockbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  padding: 16px;
  margin: 12px;
  border-radius: 8px;
  position: absolute;
  bottom: 4px;
  width: 236px;
}

.dock:first-child {
  width: 48px;
  height: 48px;
  background: linear-gradient(#65f856, #27de17);
  align-items: center;
  text-align: center;
  border-radius: 12px;
  color: white;
  font-size: 32px;
  line-height: 48px;
}

.dock:nth-child(2) {
  width: 48px;
  height: 48px;
  background: linear-gradient(#65f856, #27de17);
  align-items: center;
  text-align: center;
  border-radius: 12px;
  color: white;
  font-size: 36px;
  line-height: 48px;
}

.dock:nth-child(3) {
  width: 48px;
  height: 48px;
  background: white;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  font-size: 36px;
  line-height: 48px;
}

.dock:nth-child(3) i {
  background: linear-gradient(#65e4f1, #205ef3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dock:nth-child(4) {
  width: 48px;
  height: 48px;
  background: linear-gradient(#eaeaec, #8b8e93);
  align-items: center;
  text-align: center;
  border-radius: 12px;
  color: black;
  font-size: 36px;
  line-height: 48px;
}
